* {
  font-family: "Sometype Mono", monospace;
  color: black;
  border-radius: 10px;
  box-sizing: border-box;
}

form {
  margin: 0 auto;
  width: 70vw;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.767);
  position: relative;
  background: #bee9e8 transparent;
}

h1 {
  text-align: center;
  background-color: #1b4965;
  border: 1px solid #ebf7ff;
}

.formTitle {
  text-align: center;
  margin: 1em;
}

.formInput,
.formLabel,.formLabel2 {
  margin: 1em;
  width: 90%;
  font-size: 1.2em;
}

.formLabel {
  padding-left: 0.5em;
  position: absolute;
  margin-top: -4em;
  transition-property: margin-top;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  transition-delay: 0;
}

.formInput {
  padding: 1em;
  margin-bottom: 1em;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: rgb(35, 155, 86, 0.1);
}
.formInput:focus + .formLabel {
  margin-top: -6em;
}


.btn {
  margin: 1em;
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: white;
  background-color: rgb(24, 106, 59);
  cursor: pointer;
  border: none;
}
.fijar {
  margin-top: -6em;
}