* {
  font-family: "Sometype Mono", monospace;
<<<<<<< HEAD
  color: black;
  border-radius: 10px;
  box-sizing: border-box;
}

form {
  margin: 0 auto;
  width: 70vw;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.767);
=======
  color: #ffffff;
  border-radius: 10px;
}

body {
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(46, 124, 144, 1) 42%, rgba(0, 212, 255, 1) 100%);
}

form {
  width: 500px;
  max-width: 100%;
  margin: 20px auto;
  padding: 20px;

  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
>>>>>>> refs/remotes/origin/development
  position: relative;
  background: #bee9e8 transparent;
}

h1 {
  text-align: center;
  background-color: #1b4965;
<<<<<<< HEAD
  border: 1px solid #ebf7ff;
}

.formTitle {
  text-align: center;
  margin: 1em;
}

.formInput,
.formLabel,.formLabel2 {
  margin: 1em;
  width: 90%;
  font-size: 1.2em;
}

.formLabel {
  padding-left: 0.5em;
  position: absolute;
  margin-top: -4em;
=======
  width: 50%;
  margin: 20px auto;
  border: 1px solid #ebf7ff;
  padding: 15px;
}

footer {
  display: flex;
  align-items: end;
  justify-content: center;
}


.formtitle {
  text-align: center;
  margin: 10px auto;
  padding-bottom: 30px;
}

.forminput,
.formlabel,
.formsubmit,
.formselect {
  display: block;
  width: 100%;
  font-size: 1.3em;
  margin-top: 10px;
}

.formlabel {
  padding-left: 15px;
  position: absolute;
  margin-top: -85px;
  z-index: 10;
>>>>>>> refs/remotes/origin/development
  transition-property: margin-top;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  transition-delay: 0;
}

<<<<<<< HEAD
.formInput {
  padding: 1em;
  margin-bottom: 1em;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: rgb(35, 155, 86, 0.1);
}
.formInput:focus + .formLabel {
  margin-top: -6em;
}


.btn {
  margin: 1em;
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: white;
=======
.formselect,
option {
  color: #000000;
  margin: 20px auto;
}

.forminput {
  padding: 20px;
  margin-bottom: 40px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: rgb(35, 155, 86, 0.1);
}

.forminput:focus + .formlabel {
  margin-top: -135px;
}

.formsubmit {
  margin: 10px 0px;
  padding: 10px;
  display: block;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: #ffffff;
>>>>>>> refs/remotes/origin/development
  background-color: rgb(24, 106, 59);
  cursor: pointer;
  border: none;
}
<<<<<<< HEAD
.fijar {
  margin-top: -6em;
}
=======

.fijar {
  margin-top: -135px;
}
>>>>>>> refs/remotes/origin/development
