
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Poetsen One", sans-serif;
}

button {
  width: 200px;
  height: auto;
}

div {
  height: 100%;
  overflow: hidden;
}

img {
  height: 80vh;
  aspect-ratio: 1;
}