h1 {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
}

span {
  margin: 10px;
}

main {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
}

section {
  margin: 1em;
  border: 2px solid #0000009a;
}

#perdidos {
  background-color: rgba(248, 36, 142, 0.301);
}

#encontrados {
  background-color: #b7f89280;
}

#about {
  display: flex;
  flex-direction: column;

  text-align: center;
  background-color: #050505;

  margin-top: 20px;
  padding: 100px;

  min-width: 100%;
  color: #fafafa;

}

#about-text {
  font-size: 1vw;
}



#about>span {
  text-align: center;
  font-size: 1.5rem;
}