h1 {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
}

html {
  scroll-behavior: smooth; 
}

span {
  margin: 10px;
}

main {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

section {
  margin: 1em;
  border: 2px solid #0000009a;
}

nav {
  margin: 15px 15px;
}

#perdidos {
  background-color: rgba(248, 36, 142, 0.301);
}

#encontrados {
  background-color: #b7f89280;
}

<<<<<<< HEAD
h2 {
  margin: 0;
  font-size: 2em;
}

h3 {
  font-size: 2em;
}



.animales {
  border-radius: 10px;
  background-color: #fafafa;
}

.animal-container{
  position: relative;
  top: 0;
  margin: 2em auto;
  

  text-align: center;
  transition: top 0.2s ease-out 0s;
}

.animal-container:hover {
  top: -10px;
}

.text-container {
  display: flex;
  flex-direction: column;
  
  align-items: flex-end;
  background-color: #050505;

  margin-top: 20px;
  padding: 50px 100px;

  max-width: 100%;
=======
#about {
  text-align: center;
  padding: 1em;
  background-color: #050505;
>>>>>>> 03a7f16 (app finished)
  color: #fafafa;
  & h2{
    font-size: 2rem;
  }
  span{
    font-size: 1.3rem;
  }
}

<<<<<<< HEAD
#about > span {
  text-align: right;
  font-size: 1.5rem;
}

footer {
  text-align: left;
  padding:5em;
  color: #fafafa;
  background-color: #050505;
  margin: 15px 15px;
}

#medios-de-contacto > li {
  margin: 10px;
}

#about>span {
  text-align: center;
  font-size: 1.5rem;
=======
@media (min-width: 800px) and (max-width: 2250px) {
  main {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .animal-container {
    width: 80%;
  }
>>>>>>> 03a7f16 (app finished)
}