
body {
  min-width: 100%;
  min-height: auto;


}


header {

  max-height: 91px;
}
  
h1 {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

nav {
  display: flex;


  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
  text-align: center;
  background-color: rgb(223, 223, 223);

  z-index: 99;
  height: 3rem;
  min-width: 90%;

}

span {
  margin: 10px;
}

a > button {
  background-color: rgb(223, 223, 223);
  width: 100%;
  padding: 8px;
  margin: 3px;
  border: 0;
  transition: background-color 0.3s ease-out;
}

a > button:hover {
  background-color: #63c2ad;
}

main {
  display: flex;
  margin: 40px;

  justify-content: space-around;
  align-items: flex-end;

  max-width: 100%;
}

section > h2 {
  display: block;
  text-align: center;
}

.animals-container {
  display: flex;
  flex-direction: column;
}

@media (width < 1280) {
  
  main{
    flex-direction: column;
  }

}

section > article {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 2em;
  margin: 20px;
}

article > img {
  display: block;
  max-width: 100%;
  height: auto;
}

#about {
  display: flex;
  flex-direction: column;

  text-align: center;
  background-color: #050505;

  margin-top: 20px;
  padding: 100px;

  min-width: 100%;
  color: #fafafa;

}

#about-text {
  font-size: 1vw;
}



#about > span {
  text-align: center;
  font-size: 1.5rem;
}